<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title text-center class="center">Servicios</ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="cards" *ngFor="let car of cars" (click)="servicio(car)">
    <ion-card-header>
      <ion-card-subtitle class="id"> {{ car.idodi}}</ion-card-subtitle>
      <ion-card-subtitle class="title">{{ car.address}}</ion-card-subtitle>
      <ion-card-subtitle class="subtitle">Prog: {{car.date_programming }} {{ car.identifacation}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-item *ngFor="let car of cars" (click)="servicio(car)">
    <ion-label text-wrap>
      <ion-text color="primary">
        <h3>{{ car.idodi}}</h3>
      </ion-text>
      <p>{{ car.address}}</p>
      <ion-text>
        <p>Prog: {{car.date_programming }} {{ car.identifacation}}</p>
      </ion-text>
    </ion-label>
  </ion-item>
</ion-content>