<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="arrow-back" (click)="back()"></ion-icon>
    </ion-buttons>

    <ion-title text-center class="center">Servicios</ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="lines"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-item lines="none" *ngFor="let car of cars" (click)="servicio(car)">
    <ion-icon class="big1" src="assets/iconos/138579.svg" item-end></ion-icon>
    <ion-label text-wrap>
      <ion-text color="primary">
        <h3>{{ car.idodi}}</h3>
      </ion-text>
      <p class="title">{{ car.address}}</p>
      <ion-text>

        <p class="prog">Prog: {{car.date_programming }} {{ car.identifacation}}</p>
        <p class="prog">Estado: {{car.name_state }} </p>
      </ion-text>
    </ion-label>
    <ion-icon class="big" src="assets/iconos/148882.svg" item-end *ngIf="car.state!=3">
    </ion-icon>
    <ion-icon class="big" src="assets/iconos/226972.svg" item-end *ngIf="car.state==3">
    </ion-icon>
  </ion-item>
</ion-content>