.cards{
    box-shadow: none !important;
font-family: Arial, Helvetica, sans-serif!important;
margin-top: 0!important;
margin-bottom: 0!important;
padding: 0;
}
.title{
    font-size: 1em !important;
    color: #7f7d7d !important;
}
.subtitle{
    font-size: .9em !important;

}
.id{
    font-size: 1em !important;
    color: #7fab54;

}

.prog{
    font-size: .8em !important;
    color: #7f7d7d !important;
}
ion-icon {
    &.big {
      width: 32px!important;
      height: 32px!important;
    }
    &.big1 {
        width: 38px!important;
        height: 38px!important;
        margin-right: 10px!important;
      }
      &.big2 {
        width: 52px!important;
        height: 52px!important;
        margin-right: 10px!important;
     }
}