<ion-content padding id="page4">
  <div class="spacer" style="width:300px;height:30px;" id="login-spacer1"></div>
  <form id="login-form1">
    <img src="assets/img/Mg9Em2PYSwuOycb8bh2U_Logo-c4e88dff0b96286ff7c6a17226fd34006f9b99864f25249cdfc05d931ec5886e.png"
      style="display:block;width:50%;height:auto;margin-left:auto;margin-right:auto;" />
    <div class="spacer" style="width:300px;height:30px;" id="login-spacer2"></div>


    <mat-form-field class="example-full-width">
      <mat-icon matPrefix class="icon">person</mat-icon>
      <input matInput placeholder="Identificación">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-icon matPrefix class="icon">edit_attributes</mat-icon>
      <input matInput placeholder="Contraseña">
    </mat-form-field>

    <div class="spacer" style="width:300px;height:27px;" id="login-spacer1"></div>
    <div class="kt-portlet__head-label ">
      <button mat-raised-button class="btn_login">INICIA SESIÓN</button>
    </div>

  </form>
</ion-content>