.close-fake {
    --background: transparent;
    ion-icon {
        font-size: 2rem;
    }
    margin-top: 10px;
}
 
ion-content {
    --background: rgba(97, 97, 97, 0.84);
}

 
ion-slides {
    height: 80%;
}

.center {
    color: rgba(255, 255, 255, 0.93) !important
  }