<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="arrow-back" (click)="back()"></ion-icon>
    </ion-buttons>
    <ion-title text-center class="center">Fotografias</ion-title>

    <ion-buttons slot="end">
      <ion-button [hidden]="true">
        <ion-icon slot="icon-only" name="save" [hidden]="true"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--div-->
  <section class="content-images">

    <ion-card class="add-img" *ngFor="let photo of photos; let i = i; index"
      (click)="ModalImage(url+photo.url+photo.name_image)"
      [ngStyle]="{background: 'url(' + url+photo.url+photo.name_image + ')no-repeat scroll center center / 100% 100%'}">
      <!-- <img [src]=" url+photo.url+photo.name_image" class="img" width="200" height="100" [hidden]="photo.hidden_image" /> -->
    </ion-card>

  </section>

</ion-content>