<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="arrow-back" (click)="back()"></ion-icon>
    </ion-buttons>
    <ion-title text-center class="center">Lista de Certificados</ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="save" [hidden]="true"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item lines="none" *ngFor="let certificate of certificates" (click)="ModalCertificate(certificate)">
      <ion-label>
        <ion-text>
          <h2>{{certificate.number}}</h2>
        </ion-text>
        <ion-text>
          <p>{{certificate.date}}</p>
        </ion-text>
        <p>Estado: {{certificate.name_state}}</p>
      </ion-label>
      <ion-icon class="big" src="assets/iconos/291200.svg" item-end *ngIf="certificate.state==1"></ion-icon>
      <ion-icon class="big" src="assets/iconos/1828643.svg" item-end *ngIf="certificate.state==2"></ion-icon>
      <ion-icon class="big" src="assets/iconos/1632596.svg" item-end *ngIf="certificate.state==3"></ion-icon>
      <ion-icon class="big" src="assets/iconos/579006.svg" item-end *ngIf="certificate.state==4"></ion-icon>
      <ion-icon class="big" src="assets/iconos/579006.svg" item-end *ngIf="certificate.state==5"></ion-icon>
      <ion-icon class="big" src="assets/iconos/579006.svg" item-end *ngIf="certificate.state==6"></ion-icon>
      <ion-icon class="big" src="assets/iconos/579006.svg" item-end *ngIf="certificate.state==7"></ion-icon>



    </ion-item>
  </ion-list>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed" (click)="ModalNewCertificate()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>