<ion-header>
    <ion-toolbar color="success">
        <ion-buttons slot="start">
            <ion-icon slot="icon-only" name="arrow-back" (click)="back()"></ion-icon>
        </ion-buttons>
        <ion-title text-center class="center">Servicio</ion-title>

        <ion-buttons slot="end">
            <ion-button>
                <ion-icon slot="icon-only" name="save"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list class="accordion-list" no-padding>
        <section class="acc-section" (click)="setStep('expanded1')">
            <div class="img">
                <img src="../../assets/img/pngocean.com-id-wflsf.png" alt="">
            </div>
            <div class="info">
                <p class="title">Servicio</p>
                <p class="subtitle">Información general de la orden</p>
            </div>
            <div class="icon">
                <ion-icon name="{{getIconName('expanded1')}}" color="medium"></ion-icon>
            </div>

        </section>

        <section class="acc-content" [ngClass]="{'expandable':getNameValid('expanded1')}">
            <div [hidden]="div_hidden">
                <mat-form-field class="example-full-width" style="margin-top: 5px;">
                    <input matInput placeholder="Servicio Número" [(ngModel)]="number_service" readonly>
                </mat-form-field>



                <ion-item>
                    <ion-label class="example-full-width">Prioridad</ion-label>
                    <ion-select [(ngModel)]="priority">
                        <ion-select-option [value]=1>Alta</ion-select-option>
                        <ion-select-option [value]=2>Media</ion-select-option>
                        <ion-select-option [value]=3>Baja</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label class="example-full-width">Sede</ion-label>
                    <ion-select>
                        <ion-select-option value="1">Alta</ion-select-option>
                        <ion-select-option value="2">Media</ion-select-option>
                        <ion-select-option value="3">Baja</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label class="example-full-width">Programación</ion-label>
                    <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="programming"></ion-datetime>
                </ion-item>

                <ion-item>
                    <ion-label class="example-full-width">Franja de Atención</ion-label>
                    <ion-select [(ngModel)]="Attention">
                        <ion-select-option [value]=1>Manaña</ion-select-option>
                        <ion-select-option [value]=2>Tarde</ion-select-option>

                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label class="example-full-width">Tipos de Gas</ion-label>
                    <ion-select>
                        <ion-select-option value="1">Natural</ion-select-option>
                        <ion-select-option value="2">GLP</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label class="example-full-width">Tipos de Servicio</ion-label>
                    <ion-select [(ngModel)]="type_service">
                        <ion-select-option [value]=1>Residencial</ion-select-option>
                        <ion-select-option [value]=2>Comercial</ion-select-option>
                        <ion-select-option [value]=3>Industrial</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label class="example-full-width">Tipo de Red</ion-label>
                    <ion-select [(ngModel)]="type_network">
                        <ion-select-option [value]=1>Nueva</ion-select-option>
                        <ion-select-option [value]=2>Existente</ion-select-option>
                        <ion-select-option [value]=3>Puesta en Servicio</ion-select-option>
                        <ion-select-option [value]=4>Linea Matrix Existente</ion-select-option>
                        <ion-select-option [value]=5>Linea Matrix Nueva</ion-select-option>
                        <ion-select-option [value]=6>Reforma</ion-select-option>
                        <ion-select-option [value]=7>No Usuario</ion-select-option>
                    </ion-select>
                </ion-item>




            </div>

            <ion-list>

                <ion-item>
                    <ion-label class="ion-text-wrap">
                        <ion-text>
                            <h2>{{number_service}}</h2>
                        </ion-text>
                        <p>Servicio Número</p>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label class="ion-text-wrap">
                        <ion-text>
                            <h2>{{name_priority}}</h2>
                        </ion-text>
                        <p>Prioridad</p>
                    </ion-label>
                    <ion-icon class="big" src="assets/iconos/148882.svg" item-end></ion-icon>
                </ion-item>

                <ion-item>
                    <ion-label class="ion-text-wrap">
                        <ion-text>
                            <h2>{{contract_name}}</h2>
                        </ion-text>
                        <p>Sede</p>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label class="ion-text-wrap">
                        <ion-text>
                            <h2>{{programming}}</h2>
                        </ion-text>
                        <p>Programación</p>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label class="ion-text-wrap">
                        <ion-text>
                            <h2>{{name_gas}}</h2>
                        </ion-text>
                        <p>Tipo de Gas</p>
                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label class="ion-text-wrap">
                        <ion-text>
                            <h2>{{name_type}}</h2>
                        </ion-text>
                        <p>Tipo de Servicio</p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label class="ion-text-wrap">
                        <ion-text>
                            <h2>{{name_network}}</h2>
                        </ion-text>
                        <p>Tipo de Red</p>
                    </ion-label>
                </ion-item>

            </ion-list>
        </section>

        <section class="acc-section" (click)="setStep('expanded2')">
            <div class="img">
                <img src="../../assets/img/twotone_add_location_black_48dp.png" alt="">

            </div>
            <div class="info">
                <p class="title">Ubicación</p>
                <p class="subtitle">Información general de la Ubicación</p>

            </div>
            <div class="icon">
                <ion-icon name="{{getIconName('expanded2')}}" color="medium"></ion-icon>
            </div>

        </section>
        <section class="acc-content" [ngClass]="{'expandable':getNameValid('expanded2')}">
            <ion-list>
                <ion-item>
                    <ion-label class="ion-text-wrap">
                        <ion-text>
                            <h2>{{address}}</h2>
                        </ion-text>
                        <p>Dirección</p>
                    </ion-label>
                    <ion-icon class="big" src="assets/iconos/854878.svg" item-end (click)="send_address()"></ion-icon>

                </ion-item>
            </ion-list>
        </section>
        <section class="acc-section" (click)="setStep('expanded3')">
            <div class="img">
                <img src="../../assets/img/twotone_person_black_48dp.png" alt="">
            </div>
            <div class="info">
                <p class="title">Cliente</p>
                <p class="subtitle">Información del Cliente</p>

            </div>
            <div class="icon">
                <ion-icon name="{{getIconName('expanded3')}}" color="medium"></ion-icon>
            </div>

        </section>
        <section class="acc-content" [ngClass]="{'expandable':getNameValid('expanded3')}">
            <ion-list>

                <ion-item>
                    <ion-label class="ion-text-wrap">
                        <ion-text>
                            <h2>{{client}}</h2>
                        </ion-text>
                        <p>Nombre del Cliente</p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label class="ion-text-wrap">
                        <ion-text>
                            <h2>{{identifacation}}</h2>
                        </ion-text>
                        <p>Identificación del Cliente</p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label class="ion-text-wrap">
                        <ion-text>
                            <h2>{{phone}}</h2>
                        </ion-text>
                        <p>Teléfono de Contacto</p>
                    </ion-label>
                </ion-item>
            </ion-list>


        </section>

        <section class="acc-section" (click)="setStep('expanded4')">
            <div class="img">
                <img src="../../assets/img/twotone_build_black_48dp.png" alt="">
            </div>
            <div class="info" (click)="presentModal()">
                <p class="title">Material</p>
                <p class="subtitle">Información del Material</p>

            </div>
            <div class="icon">
                <ion-icon name="{{getIconName('expanded4')}}" color="medium" (click)="presentModal()"></ion-icon>
            </div>

        </section>
        <section class="acc-content" [ngClass]="{'expandable':getNameValid('expanded4')}">

            <!-- Sliding item with text options on both sides -->
            <ion-item-sliding>
                <ion-item-options side="start">
                    <ion-item-option (click)="edit_material()">
                        <ion-icon src="assets/iconos/61456.svg"></ion-icon>
                    </ion-item-option>
                    <ion-item-option color="danger" (click)="share(item)">
                        <ion-icon src="assets/iconos/64022.svg"></ion-icon>
                    </ion-item-option>
                </ion-item-options>

                <ion-item lines="none">
                    <ion-label class="ion-text-wrap">
                        <ion-text>
                            <h2>{{name_material}}</h2>
                        </ion-text>
                        <p>{{name_state_material}}</p>
                    </ion-label>
                </ion-item>
            </ion-item-sliding>



        </section>

        <section class="acc-section" (click)="setStep('expanded5')">
            <div class="img">
                <img src="../../assets/img/1043ea6260755f02bafd6d2fa98072ec-icono-de-casco-de-construccion.png" alt="">
            </div>
            <div class="info" (click)="ModalBuilder()">
                <p class="title">Constructor</p>
                <p class="subtitle">Información del Constructor</p>

            </div>
            <div class="icon">
                <ion-icon name="{{getIconName('expanded5')}}" color="medium" (click)="ModalBuilder()"></ion-icon>
            </div>

        </section>
        <section class="acc-content" [ngClass]="{'expandable':getNameValid('expanded5')}">
            <ion-item-sliding>
                <ion-item-options side="start">
                    <ion-item-option (click)="edit_builder()">
                        <ion-icon src="assets/iconos/61456.svg"></ion-icon>
                    </ion-item-option>
                    <ion-item-option color="danger" (click)="share(item)">
                        <ion-icon src="assets/iconos/64022.svg"></ion-icon>
                    </ion-item-option>
                </ion-item-options>

                <ion-item lines="none">
                    <ion-label class="ion-text-wrap">
                        <ion-text>
                            <h2>{{name_builder}}</h2>
                        </ion-text>
                        <p>{{state_builder}}</p>
                    </ion-label>
                </ion-item>
            </ion-item-sliding>

        </section>


        <section class="acc-section" (click)="setStep('expanded6')">
            <div class="img">
                <img src="../../assets/img/twotone_insert_photo_black_48dp.png" alt="">
            </div>
            <div class="info" (click)="ModalImage()">
                <p class="title">Fotografias</p>
                <p class="subtitle">Fotografias del servicio</p>

            </div>
            <div class="icon">
                <ion-icon name="{{getIconName('expanded6')}}" color="medium"></ion-icon>
            </div>

        </section>
        <section class="acc-content" [ngClass]="{'expandable':getNameValid('expanded6')}">
            <ion-item detail *ngFor="let photos_service of photos_services; let i = i; index"
                (click)="photos_add(photos_service)">
                <ion-label>
                    {{photos_service.name_photo}}
                </ion-label>
            </ion-item>
        </section>

        <section class="acc-section" (click)="setStep('expanded7')">
            <div class="img">
                <img src="../../assets/img/twotone_insert_photo_black_48dp.png" alt="">
            </div>
            <div class="info" (click)="ModalCetificate()">
                <p class="title">Certificados</p>
                <p class="subtitle">Certificados asociados al servicio</p>

            </div>
            <div class="icon">
                <ion-icon name="{{getIconName('expanded6')}}" color="medium"></ion-icon>
            </div>

        </section>
        <section class="acc-content" [ngClass]="{'expandable':getNameValid('expanded7')}">
            <ion-item detail *ngFor="let photos_service of photos_services; let i = i; index"
                (click)="photos_add(photos_service)">
                <ion-label>
                    {{photos_service.name_photo}}
                </ion-label>
            </ion-item>
        </section>

    </ion-list>
</ion-content>