<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="arrow-back" (click)="back()"></ion-icon>
    </ion-buttons>
    <ion-title text-center class="center">Certificado</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="save()">
        <ion-icon slot="icon-only" name="save"></ion-icon>
      </ion-button>
    </ion-buttons>



  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="accordion-list" no-padding>
    <section class="acc-section" (click)="setStep('expanded1')">
      <div class="img">
        <img src="../../assets/iconos/1172539.svg" alt="">
      </div>
      <div class="info">
        <p class="title">Certificado</p>
        <p class="subtitle">Información general</p>
      </div>
      <div class="icon">
        <ion-icon name="{{getIconName('expanded1')}}" color="medium"></ion-icon>
      </div>

    </section>

    <section class="acc-content" [ngClass]="{'expandable':getNameValid('expanded1')}">

      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <mat-form-field class="example-full-width" style="margin-top: 10px;">
              <input matInput placeholder="Número de Certificado" [(ngModel)]="NewCertificate.number" readonly>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input matInput placeholder="Observaciones del Inspector" [(ngModel)]="NewCertificate.obsins">
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input matInput placeholder="Observaciones del Revisor" [(ngModel)]="NewCertificate.obssuper">
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input matInput placeholder="Observaciones para el Cliente" [(ngModel)]="NewCertificate.obsclient">
            </mat-form-field>

            <ion-item>
              <ion-label class="example-full-width">Estado</ion-label>
              <ion-select [(ngModel)]="NewCertificate.state_g">
                <ion-select-option [value]=1>Conforme</ion-select-option>
                <ion-select-option [value]=2>No Conforme</ion-select-option>

              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

    </section>
    <section class="acc-section" (click)="setStep('expanded6')">
      <div class="img">
        <img src="../../assets/iconos/148717.svg" alt="">
      </div>
      <div class="info" (click)="ModalImage()">
        <p class="title">Fotografias</p>
        <p class="subtitle">Fotografias del servicio</p>

      </div>
      <div class="icon">
        <ion-icon name="{{getIconName('expanded6')}}" color="medium"></ion-icon>
      </div>

    </section>
    <section class="acc-content" [ngClass]="{'expandable':getNameValid('expanded6')}">

    </section>

    <section class="acc-section" (click)="setStep('expanded7')">
      <div class="img">
        <img src="../../assets/iconos/138589.svg" alt="">
      </div>
      <div class="info" (click)="ModalViewImage()">
        <p class="title">Ver Fotografias</p>
        <p class="subtitle">Ver las Fotografias del Servicio</p>

      </div>
      <div class="icon">
        <ion-icon name="{{getIconName('expanded7')}}" color="medium"></ion-icon>
      </div>

    </section>
    <section class="acc-content" [ngClass]="{'expandable':getNameValid('expanded7')}">

    </section>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label>No Rotular</ion-label>
      <ion-toggle [(ngModel)]="marc"></ion-toggle>
    </ion-item>
  </ion-list>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">

    <ion-fab-button color="danger">
      <ion-icon name="arrow-dropup"></ion-icon>
    </ion-fab-button>


    <!-- <ion-fab-list side="top" [hidden]="type2"> -->
    <ion-fab-list side="top" [hidden]="type2">
      <ion-fab-button color="light" (click)="cancelar()">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-fab-button>
      <!-- <ion-fab-button color="light" (click)="decline()">
        <ion-icon name="alert"></ion-icon>
      </ion-fab-button> -->
      <ion-fab-button color="light" (click)="suspend()">
        <ion-icon name="alarm"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="primary" (click)="atendido()">
        <ion-icon name="arrow-dropright-circle"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>

  </ion-fab>

</ion-content>