<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="arrow-back" (click)="back()"></ion-icon>
    </ion-buttons>
    <ion-title text-center class="center">Nuevo Cliente</ion-title>


    <ion-buttons slot="end">
      <ion-button [disabled]="!NewCliente.valid" (click)="save()" *ngIf="hidden==false">
        <ion-icon slot="icon-only" name="save"></ion-icon>
      </ion-button>
      <ion-button [disabled]="!NewCliente.valid" (click)="edit()" *ngIf="hidden==true">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="aside-content">
    <div class="aside-img">
      <img class="img" src="{{imgUser}}" alt="">
    </div>
  </section>
  <form [formGroup]="NewCliente">
    <ion-row [hidden]="hidden">
      <ion-col size="12">

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Nombre" formControlName="name_cliente" id="name_cliente">
          <mat-hint>Nombre de la Empresa o Persona</mat-hint>

        </mat-form-field>
        <div class="error"
          *ngIf="NewCliente.get('name_cliente').hasError('required') && NewCliente.get('name_cliente').touched">
          Nombre requerido
        </div>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Teléfono" formControlName="phone" id="phone">
          <mat-hint>Ingresa el Indicativo y el numero de teléfono (Ej. 57123456789)</mat-hint>
        </mat-form-field>
        <div class="error" *ngIf="NewCliente.get('phone').hasError('required') && NewCliente.get('phone').touched">
          Teléfono requerido
        </div>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Identificación" formControlName="identification" id="identification">
          <mat-hint>Nit o Cedula del Cliente</mat-hint>
        </mat-form-field>
        <div class="error"
          *ngIf="NewCliente.get('identification').hasError('required') && NewCliente.get('identification').touched">
          Nit o Cedula requerido
        </div>
        <mat-form-field class="example-full-width1">
          <input matInput placeholder="Correo Eletrónico" formControlName="mail" id="mail">
          <mat-hint>Ingrese la dirección de correo eletrónico</mat-hint>
        </mat-form-field>

        <ion-item>
          <ion-label>Estado</ion-label>
          <ion-select formControlName="idstate" id="idstate">
            <ion-select-option [value]=1>Activo</ion-select-option>
            <ion-select-option [value]=2>Inactivo</ion-select-option>
            <ion-select-option [value]=3 selected>Por confirmar</ion-select-option>
          </ion-select>
        </ion-item>

      </ion-col>

    </ion-row>

    <ion-list [hidden]="hidden1">
      <ion-item>
        <ion-label class="ion-text-wrap">
          <ion-text>
            <h2>{{NewCliente.value.name_cliente}}</h2>
          </ion-text>
          <p>Nombre</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label class="ion-text-wrap">
          <ion-text>
            <h2>{{NewCliente.value.phone}}</h2>
          </ion-text>
          <p>Telefono</p>
        </ion-label>
        <ion-icon class="big1" src="assets/iconos/2178035.svg" item-end> </ion-icon>
      </ion-item>


      <ion-item>
        <ion-label class="ion-text-wrap">
          <ion-text>
            <h2>{{NewCliente.value.identification}}</h2>
          </ion-text>
          <p>Identificación</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label class="ion-text-wrap">
          <ion-text>
            <h2>{{NewCliente.value.mail}}</h2>
          </ion-text>
          <p>Correo Alectrónico</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label class="ion-text-wrap">
          <ion-text>
            <h2>{{NewCliente.value.state}}</h2>
          </ion-text>
          <p>Estado</p>
        </ion-label>
      </ion-item>

      <ion-item (click)="ModalAcount()">
        <ion-label class="ion-text-wrap">
          <ion-text>
            <h2>Cuentas</h2>
          </ion-text>
          <p>Información de cuentas</p>
        </ion-label>
        <ion-icon class="big1" src="assets/iconos/1824858.svg" item-end>
        </ion-icon>
      </ion-item>
    </ion-list>

  </form>
</ion-content>