<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="arrow-back" (click)="back()"></ion-icon>
    </ion-buttons>
    <ion-title text-center class="center">Fotografias</ion-title>

    <ion-buttons slot="end">
      <ion-button icon-only>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>


</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="none" *ngFor="let photos_service of photos_services" (click)="ModalImage(photos_service)">
      <ion-label>
        <ion-text>
          <h2>{{photos_service.name_photo}}</h2>
        </ion-text>
        <ion-text color="primary">
          <p>Actuales: {{photos_service.actual}}</p>
        </ion-text>
        <p>Min: {{photos_service.min}} / Max: {{photos_service.quantity}} </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>